html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
}
table {
  border-collapse: collapse;
  margin: 20px;
}
table,
th,
td {
  border: 1px solid;
}
td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.boardFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texts {
  font-family: serif;
  font-weight: bolder;
  font-size: 40px;
}
